<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 id="heading">{{routeTitle}}</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-block">
          <form action="POST" id="users-form">
            <div class="form-content">
              <div class="input name">
                <!-- <label for="name">Name</label> -->
                <input type="text" name="name" id="name" placeholder="Enter the name">
              </div>
              <div class="input username">
                <!-- <label for="username">UserName</label> -->
                <input type="text" name="username" id="username" placeholder="Enter the username">
              </div>
              <div class="input email">
                <!-- <label for="email">Email</label> -->
                <input type="text" name="email" id="email" placeholder="example@test.com">
              </div>
              <div class="input street">
                <!-- <label for="street">Street</label> -->
                <input type="text" name="street" id="street" placeholder="Enter the street">
              </div>
              <div class="input suite">
                <!-- <label for="suite">Suite</label> -->
                <input type="text" name="suite" id="suite" placeholder="Enter the suite">
              </div>
              <div class="input city">
                <!-- <label for="city">City</label> -->
                <input type="text" name="city" id="city" placeholder="Enter the city">
              </div>
              <div class="input zipcode">
                <!-- <label for="zipcode">Zipcode</label> -->
                <input type="text" name="zipcode" id="zipcode" placeholder="Enter the zipcode">
              </div>
              <div class="input phone">
                <!-- <label for="phone">Phone</label> -->
                <input type="text" name="phone" id="phone" placeholder="Enter the phone">
              </div>
              <div class="input website">
                <!-- <label for="website">Website</label> -->
                <input type="text" name="website" id="website" placeholder="Enter the website">
              </div>
              <div class="input company">
                <!-- <label for="company">Company Name</label> -->
                <input type="text" name="company" id="company" placeholder="Enter the company">
              </div>
            </div>
            <button type="submit" class="form-btn">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>